<div class="main-container">
    <header>
        <alt-live [caption]="'YOUR CODE NOW'"></alt-live>
    </header>
    <section>
        <div class="container">
            <div class="row ">
                <form novalidate (ngSubmit)="addPayment()" [formGroup]="paymentForm">
                    <fieldset>
                        <div class="row justify-content-center">
                            <div class="col-sm text-left" [ngClass]="{'error': !validatePayment() }">
                                <label for="payment">PAYMENT</label>
                                <input formControlName="payment" name="payment" type="text" class="form-control"
                                    placeholder="Payment" id="payment">
                                <span class="invalid-feedback">
                                    <span
                                        *ngIf="paymentForm.get('payment').errors?.required && paymentForm.get('payment').touched">
                                        Please enter the payment name.
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('payment').errors?.minlength && paymentForm.get('payment').touched">
                                        The payment description must be at least 3 characters.
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm text-left" [ngClass]="{'error': !validateAmount()  }">
                                <label for="payment">AMOUNT</label>
                                <input formControlName="amount" name="amount" type="text" class="form-control"
                                    placeholder="Amount" id="amount">
                                <span class="invalid-feedback">
                                    <span
                                        *ngIf="paymentForm.get('amount').errors?.required && (paymentForm.get('amount').touched || paymentForm.get('amount').dirty)">
                                        Please enter the amount.
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('amount').errors?.minlength && (paymentForm.get('amount').touched || paymentForm.get('amount').dirty)">
                                        The amount must be at least 1.
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('amount').errors?.maxlength && (paymentForm.get('amount').touched || paymentForm.get('amount').dirty)">
                                        The amount must be 1000000 maximum.
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('amount').errors?.pattern && (paymentForm.get('amount').touched || paymentForm.get('amount').dirty)">
                                        The amount must be an integer.
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm text-left align-bottom">
                                <button type="submit" class="btn btn-secondary">+ ADD</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <main>
        <div class="container" *ngIf="liveStatus; else notAlive">
            <div class="row">
                <div class="col-sm">
                    <label for="payments">PAYMENT LIST</label>
                    <div class="payments">
                        <div class="item">NAME</div>
                        <div class="item">AMOUNT</div>
                        <div class="item">CODE</div>
                        <div class="item">GRID</div>
                        <ng-container *ngFor="let item of paymentsList; index as i">
                            <div class="item">{{item.name}}</div>
                            <div class="item">{{item.amount}}</div>
                            <div class="item">{{item.code}}</div>
                            <div class="item"><a [routerLink]="['/payments']"
                                    (click)="displayGridSnapShot(item.grid)">100</a>
                            </div>
                        </ng-container>
                    </div>
                    <section>
                        <div class="col-sm text-right">
                            <button type="button" class="btn btn-secondary save-api"
                                (click)="savePayments(paymentsList)">SAVE
                                PAYMENTS LIST</button>
                        </div>
                        <div *ngIf="responseOk">{{response}}</div>
                    </section>
                </div>
            </div>
        </div>
        <ng-template #notAlive>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label for="payments">PAYMENT LIST</label>
                        <div class="payments">
                            <div class="item">NAME</div>
                            <div class="item">AMOUNT</div>
                            <div class="item">CODE</div>
                            <div class="item">GRID</div>

                            <div class="item">Not alive</div>
                            <div class="item">&nbsp;</div>
                            <div class="item">&nbsp;</div>
                            <div class="item">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="payments-modal" id="payments-modal" #paymentsModal *ngIf="displayGridSnapshot"
            (click)="close($event)">
            <div class="modal-content" id="modal-content">
                <p>Grid snapshot</p>
                <span class="close" id="close" #closeModal (click)="close($event)">&times;</span>
                <alt-grid [live]="liveStatus" [grid]="snapShot" [empty]="empty" (click)="close($event)"></alt-grid>
            </div>
        </div>
    </main>
</div>