<div class="main-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="justify-content-center">
                <div class="text-center live">
                    <div class="live">
                        <span [ngClass]="getLiveStatusClass()"></span> LIVE
                    </div>
                </div>
                <div class="text-center live-code">
                    {{caption}}: {{recCode}}
                </div>
            </div>
        </div>
    </div>
</div>